/* Multi Select */
.stMultiSelect>label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    height: 100%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index:1;
    min-width: 5.5rem;
    text-align: center;
    font-size: 14px;

}


.stMultiSelect>div>div>div:first-child{
    position: relative;
    left: 0rem;
    padding: 0rem;
    margin-left: 6rem;
    width: 20rem;
}

.stMultiSelect>div>div:hover{
    border: 2px solid #00B7C2;
}


.stSlider>div>div>div:first-child{
    height: 1rem;
}

.stSlider>div>div>div{
    font-weight: bold;
}

.stSlider>div>div>div>div>div{
    font-weight: bold;
}



.stSlider>div>div>div>div{
    background-color: white;
}

.stSlider>label{
    position: absolute;
    bottom: -10%;
    left: 25%;
    width: 100%;
    z-index: 1;
}


/* TEXT INPUT */
.stTextInput>label{
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    min-width: 5.5rem;
    max-width: 5.5rem;
    height: 100%;
    text-align: center;
    font-size: 14px;
    text-overflow: none;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.st-hu{
    background-color: #00B7C2;
}

.stTextInput>label:hover{
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    min-width: 5.5rem;
    max-width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    text-overflow: none;
    z-index: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



.stTextInput>div>div>div, .stTextInput>div>div, .stTextInput>div>div>div>input, .stTextInput>div>div>input{
    padding: 0rem;
    max-width: 100%;
}

.stTextInput>div>div>input{
    position: relative;
    right: 0rem;
    padding: 0rem;
    margin-left: 6rem;
}

.stTextInput>div:hover{
    border: 2px solid #00B7C2;
}

.stTextInput>{
    padding: 0rem;
}


.css-15of2nd{
    background-color:whitesmoke;
}

.stTextInput>div{
    padding: 0rem;
}
.stTextInput>div>div>div>div{
    padding: 0rem;
}

/* Select Box */
.stSelectbox>label{
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index:1;
    min-width: 5.5rem;
    height: 100%;
    text-align: center;
    font-size: 14px;;
}

.stSelectbox>div>div>div>div{
    padding: 0rem;
    max-width: 80%;
}

.stSelectbox>div>div>div:first-child{
    padding: 0rem;
    max-width: 80%;
    margin-left: 6rem;
}
.stSelectbox>div>div{
    padding: 0rem;
}

.stSelectbox>div>div:hover{
    border: 2px solid #00B7C2;
}
.stSlider{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 9px;
}

.css-uokr8j{
    color:whitesmoke;
}
.stTimeInput>div>div{
    padding-bottom:1px;
    padding-top:1px;
}

.stTimeInput>div>div>div{
    padding-bottom:1px;
    padding-top:1px;
}

.stTimeInput>div>div>div>input{
    padding-bottom:1px;
    padding-top:1px;
}

.stDateInput>div>div{
    padding-bottom:1px;
    padding-top:1px;
}

.stDateInput>div>div:hover{
    border: 2px solid #00B7C2;
}


.stDateInput>div>div>div{
    padding-bottom:1px;
    padding-top:1px;
}

.stDateInput{
    margin-top: 1rem;
}

.stDateInput>label{
    position: absolute;
    padding: 0%;
    left: 5%;
    top: -5.5%;
    background-color: #00B7C2;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

}

.stDateInput>div>div>div>input{
    padding-bottom:1px;
    padding-top:1px;
}

.stDiv > button {
    width: 100%;
}
